@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
    background: linear-gradient(135deg, #2b00ff, #3b26a2, #1a0a5e);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: clamp(280px, 50vw, 500px);
    height: clamp(180px, 40vh, 400px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: #fff 2px solid;
    border-radius: 10px;
    flex-direction: column;
}

.config {
    display: flex;
}

.title {
    color: #fff;
    font-size: 12px;
    padding-bottom: 10px;
}

.download-input {
    height: clamp(20px, 30px, 80px);
    width: clamp(80px, 160px, 220px);
    cursor: pointer;
    border: transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffffffff;
}

.download-button {
    height: clamp(20px, 30px, 80px);
    width: clamp(40px, 80px, 100px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: transparent;
    cursor: pointer;
    background-color: #ffffffff;
    border-left: 0.5px solid black;
}